/* You can add global styles to this file, and also import other style files */
// body {
//   font-family: Arial, Helvetica, sans-serif;  
//   margin: 0px;
//   padding: 0px;
// }
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // nos hará breakpoints cada 300px
  gap: 30px;
}

// .container {
//   width: 100%;
//   padding-left: 0px;
//   padding-right: 0px;
//   margin-right: auto;
//   margin-left: auto;
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 1110px;
//     padding-left: 16px;
//     padding-right: 16px;
//   }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
